<div class="login-container">
    <h1 class="login-title">EMPLOYEE SECTION</h1>
    <form class="login-form">
      <div class="form-group">
        <label for="email">ID EMPLOYEE</label>
        <input type="email" id="email" placeholder="Enter your ID Employee">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your password">
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
