<nav class="navbar">
    <div class="navbar-left">
      <a class="brand" routerLink="">AGRITECH</a>
    </div>
    <div class="navbar-center">
      <input type="text" placeholder="Cerca prodotti..." class="search-bar" />
    </div>
    <div class="navbar-right">
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a routerLink="/login">Login</a>
          <a routerLink="/admin">Admin</a>
          <a routerLink="/dipendente">Dipendente</a>
        </div>
      </div>
    </div>
  </nav>
  
  
